
/* .app{
  background-color: #9db3ed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator{
  height: 580px;
  width:280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgb(255, 0, 242);
  position: relative;
  overflow: hidden;

}
.app_calculator_navbar{
  position:absolute;
  top: 0;
  left: 0;
  background-color:transparent;
  min-height: 40px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;

}
.app_calculator_navbar_toggle{
  height: 15px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 40px rgb(85, 32, 32);
  

}
.app_calculator_navbar img{
height: 20px;
width: 20px;

}
.app_calculator_navbar_toggle_circle{
height: 15px;
width:15px;
background-color: yellow;
border-radius: 50%;
transition: 300ms;
}
.app_calculator_navbar_toggle_circle_active{
  margin-left: 15px;
} */

.app {
  background: #2a6c84;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator {
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app_calculator_navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  min-height: 50px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.app_calculator_navbar img {
  height: 15px;
  width: 15px;
 
}

.app_calculator_navbar_toggle {
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, 0.14);
}

.app_calculator_navbar_toggle_circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: 300ms;
}

.app_calculator_navbar_toggle_circle_active {
  margin-left: 15px;
}